.candidatosCont{
    margin-top: 30px;
    ul{
        list-style: none;
        margin-top:9%;
        width: 96%;
        li{
            display:inline-block;
            vertical-align: top;
            margin-left: 22px;
            //transition: transform 2s;
            .info{
                margin-top: 89%;
                border: 1px solid #F1F10D;
                width: 200px;
                p{
                    font-family: 'Fira Sans', sans-serif;
                    padding: 10px;
                    color:black;
                    text-align: center;
                }
                .name{
                    display:block;
                    margin-top:20px;
                    color:black;
                    font-family: 'Fira Sans', sans-serif;
                    padding: 10px;
                    margin-bottom: -21px;
                    margin-top: 11px;
                    text-align: center;
                    font-size: 30px;
                    text-decoration: none;
                }
            }
            .photo{
                    img{
                    border-radius: 100%;
                    position: absolute;
                    height: 200px;
                    width: 200px;
                }
            }
        }&:hover{
            cursor: pointer;
        }
    }
}