.mainCont{
    margin:2% auto;
    width: 90%;
    display: block;
    background: #ADC7FA;
    height: 100%;

}

.videosList{
    list-style-type: none;
    li{
        display: inline-block;
    }
}

.contentCont{
    
    font-size: 30px;
    display: block;
    font-family: 'Bree Serif', serif;

}