<div class="mainCont">
    <div class="logoCont">
        <img src="../../assets/logo.png"/>
    </div>
    <div class="contentCont">
        <span id="title">NOVEDADES</span>
        <div>
            <ul class="videosList">
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CfG6dS8i8qA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bMEfRgi2hb8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/I6j-6JyFR4o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
            </ul>
        </div>
    </div>
</div>