<div class="crCont">
<span>Candidatos Registrados</span>
  <div  class="candidatorCont">
  Nombre: Sergio Fajardo<br>
  Usuario: sergio.fajardo<br>
  Identificación: 29189 <br>
  <button>Adminsitrar</button>
  </div>
  <div  class="candidatorCont">
    Nombre: Humberto De La Calle<br>
    Usuario: humberto.delacalle<br>
    Identificación: 49038 <br>
    <button>Adminsitrar</button>
  </div>
  <button class="agregarBtn" [routerLink]="['/registrar']" [routerLinkActive]="['classActive']">Agregar</button>
</div>