<div class="candidatoCont">
  <div class="c_infoCont">
    <img src=".//assets/icon.png" class="c_photo"/>
    <p class="c_name">NOMBRE</p>
    <p>
      En versiones anteriores de Access, hemos usado el tipo de datos Memo 
      para almacenar grandes cantidades de texto y escriba los datos de texto para 
      almacenar cadenas de más corto (hasta 255 caracteres). En Access 2013 y 2016 de Access, En versiones anteriores de Access, hemos usado el tipo de datos Memo 
      para almacenar grandes cantidades de texto y escriba los datos de texto para 
      almacenar cadenas de más corto (hasta 255 caracteres).
      En versiones anteriores de Access, hemos usado el tipo de datos Memo
    </p>
  </div> 
  <div class="propuestasCont">
    <ul>
      <li class="animated fadeInRight">
        <p class="title">SALUD</p>
        <p>
          En versiones anteriores de Access, hemos usado el tipo de datos Memo 
          para almacenar grandes cantidades de texto y escriba los datos de texto para 
          almacenar cadenas de más corto (hasta 255 caracteres).
        </p>
      </li>
      <li class="animated fadeInRight">
        <p class="title">TRANSPORTE</p>
        <p>
          En versiones anteriores de Access, hemos usado el tipo de datos Memo 
          para almacenar grandes cantidades de texto y escriba los datos de texto para 
          almacenar cadenas de más corto (hasta 255 caracteres).En versiones anteriores de Access, hemos usado el tipo de datos Memo 
          para almacenar grandes cantidades de texto y escriba los datos de texto para 
          almacenar cadenas de más corto (hasta 255 caracteres).
        </p>
      </li>
      <li class="animated fadeInRight">
        <p class="title">AMBIENTE</p>
        <p>
          En versiones anteriores de Access, hemos usado el tipo de datos Memo 
          para almacenar grandes cantidades de texto y escriba los datos de texto para 
          almacenar cadenas de más corto (hasta 255 caracteres).En versiones anteriores de Access, hemos usado el tipo de datos Memo 
          para almacenar grandes cantidades de texto y escriba los datos de texto para 
          almacenar cadenas de más corto (hasta 255 caracteres).
          En versiones anteriores de Access, hemos usado el tipo de datos Memo 
          para almacenar grandes cantidades de texto y escriba los datos de texto para 
          almacenar cadenas de más corto (hasta 255 caracteres).
        </p>
      </li>
    </ul>
    <hr>
    <div class="bioCont">
      <p class="bio_title">BIOGRAFIA</p>
      <p>
        En versiones anteriores de Access, hemos usado el tipo de datos Memo 
        para almacenar grandes cantidades de texto y escriba los datos de texto para 
        almacenar cadenas de más corto (hasta 255 caracteres).
        En versiones anteriores de Access, hemos usado el tipo de datos Memo 
        para almacenar grandes cantidades de texto y escriba los datos de texto para 
        almacenar cadenas de más corto (hasta 255 caracteres).
        En versiones anteriores de Access, hemos usado el tipo de datos Memo 
        para almacenar grandes cantidades de texto y escriba los datos de texto para 
        almacenar cadenas de más corto (hasta 255 caracteres).
      </p>
    </div>
  </div>
</div>