<div *ngIf="parametro" class="candidatoCont">
  <div class="c_infoCont">
    <img src="{{data.Result[parametro].ProfileFoto}}" class="c_photo"/>
    <p class="c_name">{{data.Result[parametro].Names}} {{data.Result[parametro].LastNames}}</p>
    <p>
      {{_fecha}}<br>
      {{data.Result[parametro].PoliticParty}}
    </p>
  </div> 
  <div class="propuestasCont">
    <ul>
      <li *ngFor="let propuesta of _propuestas; let i=index" class="animated fadeInRight">
        <p class="title">{{propuesta.titulo}}</p>
        <p>
          {{propuesta.descripcion}}
        </p>
      </li>
    </ul>
    <hr>
    <div class="bioCont">
      <p class="bio_title">BIOGRAFIA</p>
      <p>
        {{data.Result[parametro].Biography}}
      </p>
    </div>
  </div>
</div>