app-header.menuCont{
    display:block;
    background-color:black;
    border: 1px solid black;
    top:0;
    left: 0;
    width:100%;
    height:5%;
    ul{
        margin:0 auto;
        margin-left: -2%;
        list-style: none;
        li{
            color:#F3F3F3;
            display: inline-block;
            margin-left: 15px;
            border-right: 1px solid;
            padding-right: 28px;
            
            &:hover{
                cursor: pointer;
            }
            a{
                color:white;
                text-decoration: none;
                font-family: 'Anton', sans-serif;
                font-size: 20px;
                text-anchor: none;
            }
            
        }
    }
    img{
        float: right;
        margin-top: -18px
    }
}